.big {
    color:blue;
}
.b326, #b325 {
    border: 1px solid green;
    }
.asteroid {
    font-weight: bold;
}
 .big {
    font-weight: normal;
    background: yellow;
}
.b329 {
    background: none;
}